{% extends 'base.html.twig' %}

{% block title %}Edit WaterLevel{% endblock %}

{% block body %}
    <h1>Edit WaterLevel</h1>

    {{ include('water_level/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_water_level_index') }}">back to list</a>

    {{ include('water_level/_delete_form.html.twig') }}
{% endblock %}
