{% extends 'base.html.twig' %}

{% block title %}New WaterLevel{% endblock %}

{% block body %}
    <h1>Create new WaterLevel</h1>

    {{ include('water_level/_form.html.twig') }}

    <a href="{{ path('app_water_level_index') }}">back to list</a>
{% endblock %}
